In [1]:
from logger import Logger

In [2]:
log = Logger()

log.set_logger_level("debug")

log.log("run_1", {"a": 1, "b": 2}, {"c": 3, "d": 4})
log.log("run_2", {"a": 1, "b": 2}, {"c": 3, "d": 4})
log.log("run_3", {"a": 1, "b": 2}, {"c": 3, "d": 4})

log.get_df()

INFO:root:Run: run_1 | Params: {'param_a': 1, 'param_b': 2} | Metrics: {'metric_c': 3, 'metric_d': 4}
INFO:root:Run: run_2 | Params: {'param_a': 1, 'param_b': 2} | Metrics: {'metric_c': 3, 'metric_d': 4}
INFO:root:Run: run_3 | Params: {'param_a': 1, 'param_b': 2} | Metrics: {'metric_c': 3, 'metric_d': 4}

     run  a  b  c  d
0  run_1  1  2  3  4
1  run_2  1  2  3  4
2  run_3  1  2  3  4

In [3]:
log.best_params("c")

{'a': 1, 'b': 2}